#### Prac 5: Implement K means on 500 random points and create 15 clusters for the same.

In [1]:
import pandas as pd
import random
import numpy as np

###### To generate Random Values: Run Only once

In [2]:
xp = []
yp = []
for i in range(500):
    x = round(random.uniform(1,15),2)
    y = round(random.uniform(25,40),2)
    xp.append(x)
    yp.append(y)

df = pd.DataFrame()
df['p1'] = xp
df['p2'] = yp

df
df.to_csv('points.csv')

In [3]:
point = []
for i in range(15):
    point.append(random.randint(0,499))
df1 = pd.DataFrame(point)
df1.to_csv('point.csv')

###### Main Code

In [4]:
df = pd.read_csv('points.csv')
df

     Unnamed: 0     p1     p2
0             0   2.40  39.79
1             1  14.27  38.68
2             2  10.93  37.87
3             3   8.89  35.81
4             4  14.02  33.56
..          ...    ...    ...
495         495  14.34  34.37
496         496   3.02  36.75
497         497  12.51  27.51
498         498  12.07  37.11
499         499  11.67  35.06

[500 rows x 3 columns]

In [5]:
df1 = pd.read_csv('point.csv')
point = list(df1['0'])
point

[47, 291, 44, 492, 205, 79, 286, 305, 296, 197, 203, 212, 450, 409, 462]

In [6]:
cluster = {}
for j in range(len(point)):
    cluster[j] = [df['p1'][point[j]],df['p2'][point[j]]]
print('Initial Cluster')
cluster

Initial Cluster

{0: [12.51, 35.13],
 1: [5.99, 30.27],
 2: [13.26, 33.72],
 3: [14.93, 26.79],
 4: [7.71, 26.3],
 5: [14.34, 38.91],
 6: [1.51, 34.64],
 7: [6.27, 29.65],
 8: [7.52, 26.35],
 9: [4.22, 31.33],
 10: [8.85, 37.42],
 11: [6.88, 26.03],
 12: [7.61, 33.1],
 13: [3.8, 29.64],
 14: [1.98, 31.22]}

In [7]:
def update_cluster(cluster,df):
    form = {0 : [],1 : [],2 : [],3 : [],4 : [],5 : [],6 : [],7 : [],8 : [],9 : [],10 : [],11 : [],12 : [],13 : [],14 : [],          }
    for i in range(len(df)):
        cpoint = []
    # Create CLuster
        for j in cluster:
            point1 = np.array((df['p1'][i],df['p2'][i]))
            point2 = np.array((cluster[j][0],cluster[j][1]))
            dist = np.linalg.norm(point1 - point2)
            cpoint.append(dist)
        p = min(cpoint)
        val = cpoint.index(p)
        form[int(val)].append(i) 
    
    # Update Cluster Values 
    for i in form:
        c1 = 0
        c2 = 0
        for j in form[i]:
            c1 += df['p1'][j]
            c2 += df['p2'][j]
        newp1 = c1/len(form[i])
        newp2 = c2/len(form[i])
        cluster[i][0] = newp1
        cluster[i][1] = newp2
    return cluster,form

In [8]:
old_cluster = {}
old_form = {}
count = 0
flag = True

while flag == True:
    cluster1,form1 = update_cluster(cluster, df)
    cluster = cluster1
    count += 1
    if old_form == form1:
        break
    else:
        old_form = form1
        
print('Total iterations required: ',count)

Total iterations required:  14

In [9]:
cluster

{0: [13.13325581395349, 34.718837209302315],
 1: [6.06911111111111, 30.680000000000003],
 2: [13.235789473684212, 31.25315789473684],
 3: [13.556799999999999, 27.78079999999999],
 4: [10.924583333333333, 26.9475],
 5: [12.427380952380956, 38.05309523809525],
 6: [3.1651282051282053, 38.23461538461539],
 7: [9.639736842105263, 30.677368421052627],
 8: [7.778064516129031, 26.807096774193543],
 9: [3.353333333333335, 34.265641025641024],
 10: [7.8275, 38.2628125],
 11: [5.336999999999999, 27.018],
 12: [7.420526315789476, 34.49842105263158],
 13: [2.662083333333333, 27.785833333333333],
 14: [2.192727272727273, 31.469999999999995]}

In [10]:
print('Cluster Number and the points present in them:\n\n')
for i in range(len(form1)):
    print('Custer:',i,'\nPoints:',form1[i])
    print('\n')

Cluster Number and the points present in them:


Custer: 0
Points: [4, 44, 47, 48, 74, 76, 88, 127, 130, 132, 146, 158, 162, 170, 206, 211, 217, 242, 249, 255, 268, 278, 280, 282, 288, 298, 306, 316, 324, 335, 361, 369, 378, 385, 407, 427, 441, 472, 475, 487, 490, 495, 499]


Custer: 1
Points: [7, 31, 34, 35, 43, 46, 64, 107, 133, 151, 155, 173, 174, 176, 183, 197, 223, 230, 236, 238, 245, 262, 272, 285, 291, 303, 304, 305, 314, 318, 327, 345, 352, 368, 388, 396, 432, 435, 436, 443, 444, 456, 473, 484, 493]


Custer: 2
Points: [11, 14, 55, 66, 67, 109, 119, 131, 134, 136, 145, 200, 202, 214, 221, 224, 227, 237, 244, 273, 281, 283, 289, 299, 315, 326, 343, 379, 394, 395, 410, 416, 421, 433, 439, 440, 458, 468]


Custer: 3
Points: [5, 51, 72, 82, 83, 108, 125, 141, 178, 191, 207, 213, 241, 251, 258, 312, 313, 330, 340, 376, 377, 399, 488, 492, 497]


Custer: 4
Points: [41, 63, 90, 137, 138, 156, 160, 204, 216, 229, 246, 276, 309, 310, 319, 325, 344, 348, 360, 417, 423, 445, 451, 478]


Custer: 5
Points: [1, 2, 10, 29, 30, 42, 52, 58, 70, 79, 87, 89, 97, 98, 99, 111, 116, 139, 142, 150, 152, 154, 193, 208, 215, 252, 293, 317, 328, 333, 356, 386, 397, 406, 411, 430, 449, 470, 476, 479, 481, 498]


Custer: 6
Points: [0, 17, 22, 27, 36, 60, 73, 78, 85, 92, 100, 104, 114, 129, 149, 165, 168, 172, 182, 188, 247, 248, 253, 254, 275, 292, 295, 334, 358, 383, 408, 428, 437, 446, 463, 471, 485, 489, 496]


Custer: 7
Points: [12, 18, 33, 62, 80, 81, 86, 113, 118, 122, 140, 144, 175, 257, 261, 297, 329, 337, 347, 355, 362, 373, 390, 391, 392, 412, 415, 420, 422, 426, 429, 447, 454, 459, 465, 477, 483, 494]


Custer: 8
Points: [15, 19, 26, 32, 40, 94, 96, 112, 126, 128, 179, 201, 205, 212, 222, 233, 239, 277, 296, 300, 308, 311, 342, 350, 363, 370, 372, 384, 424, 469, 482]


Custer: 9
Points: [6, 9, 20, 24, 37, 38, 54, 75, 91, 103, 110, 123, 143, 153, 164, 166, 171, 181, 187, 192, 194, 196, 218, 240, 265, 271, 279, 286, 290, 307, 336, 338, 341, 381, 382, 404, 413, 461, 480]


Custer: 10
Points: [68, 105, 117, 157, 161, 167, 184, 185, 186, 195, 199, 203, 225, 234, 266, 269, 270, 274, 294, 302, 346, 353, 354, 359, 371, 393, 402, 419, 452, 453, 457, 474]


Custer: 11
Points: [13, 16, 21, 23, 45, 124, 219, 243, 256, 287, 301, 323, 332, 367, 389, 405, 455, 466, 467, 491]


Custer: 12
Points: [3, 28, 39, 56, 59, 61, 69, 93, 95, 135, 148, 163, 169, 177, 190, 235, 259, 267, 284, 321, 349, 357, 364, 365, 374, 380, 387, 398, 400, 401, 425, 431, 434, 438, 450, 460, 464, 486]


Custer: 13
Points: [49, 50, 57, 77, 84, 102, 106, 115, 189, 198, 209, 220, 226, 260, 263, 264, 320, 331, 339, 351, 375, 403, 409, 414]


Custer: 14
Points: [8, 25, 53, 65, 71, 101, 120, 121, 147, 159, 180, 210, 228, 231, 232, 250, 322, 366, 418, 442, 448, 462]